form {
    margin-bottom: 1em;
}

footer {
    bottom: 0;
    margin: auto;
    width: 100%;
    position: fixed;
}

.title {
    font-weight: bold;
}

.card {
    height: auto;
}

#featured .card {
    min-width: 500px;
}