body, footer {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 240, 240);
}

section {
    margin-bottom: 3rem;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

header {
    padding-bottom: 1em;
    background-color: #f3b5ff88;
}

.navbar a {
    padding: 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 16px;
}

.nav-link {
    margin-right: 32px;
    margin-left: 0;
    font-weight: 500;
}

.nav-link-container {
    margin-top: 1em;
}

.nav-link:hover {
    opacity: 0.6;
    border-bottom: 4px solid rgb(255, 177, 59);
}

.home {
    font-size: 28px !important;
    padding-left: 0;
    display: inline-block;
    font-weight: bold;
}

.icon {
    padding-right: 0;
    height: 36px;
}

.card {
    border-radius: 25px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin: 1rem 0 1rem 0;
    vertical-align: middle;
}

.card p {
    width: inherit;
}

.card.matched {
    box-shadow: 4px 8px 8px	rgba(0, 100, 0, 0.25);
}

.card.selected {
    box-shadow: 4px 8px 8px	rgba(255, 177, 59, 0.25);
}

.card.selected:hover {
    box-shadow: 8px 16px 16px rgba(255, 177, 59, 0.25);
}


.card, footer {
    text-align: center;
}

.card:hover {
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.25);
}

.card.matched:hover {
    box-shadow: 8px 16px 16px rgba(0, 100, 0, 0.25);
}

.card .card-body {
    padding: 0;
}

.card .card-content {
    padding: 1.25rem 2.25rem;
}

/* Medium */
@media (min-width: 768px) {
    .card .card-body img {
        height: 80px;
    }

    .nav-links {
        margin-top: 0;
    }

    h1 {
        font-size: 2.5rem;
    }
}

/* Large */
@media (min-width: 992px) {
    .card .card-body img {
        height: 100px;
    }
}